.card {
  margin: auto;
  padding: 1rem;
  width: 90vw;
  max-width: 1500px;
  background-color: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 0px solid rgba(255, 255, 255, 0.18);
  /* box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px;
  -webkit-box-shadow: rgba(142, 142, 142, 0.19) 0px 6px 15px 0px; */
  border-radius: 9px;
  -webkit-border-radius: 9px;
  color: rgba(255, 255, 255, 0.3);
}
