.box {
  display: flex;
  flex-direction: column;
}
.container {
  width: 300px;
  height: 300px;
  display: flex;

  justify-content: space-between;
}

.container div {
  height: 50px;
  width: 50px;
  background-size: cover;
}
.steam {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/8/83/Steam_icon_logo.svg/512px-Steam_icon_logo.svg.png");
}
.epic {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/Epic_Games_logo.svg/1764px-Epic_Games_logo.svg.png");
}
.nvidia {
  background-image: url("https://cdn4.iconfinder.com/data/icons/logos-and-brands/512/235_Nvidia_logo-512.png");
}
.intel {
  background-image: url("https://ucsdnews.ucsd.edu/news_uploads/intel-logo-3-1.png");
}

@media (max-width: 800px) {
  .box {
    margin: 0 30px;
  }
  .container {
    height: 200px;
    width: 200px;
  }

  .container div {
    height: 40px;
    width: 40px;
    background-size: cover;
  }
}
